.color-highlight {
	color: #0088CC;
}

.download-button {
	background-color:#99CF00;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CF00), to(#6DB700));
    background: -moz-linear-gradient(19% 75% 90deg, #6DB700, #99CF00) repeat scroll 0 0 transparent;
    border-color: #C3F83A #82A528 #58701B #C3F83A;
    border-left: 1px solid #C3F83A;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 1px;
    color: #FFFFFF;
    /* cursor: pointer; */
    display: block;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    margin: 20px;
    padding: 5px 2px;
    text-align: center;
    width: 300px;
}

.download-button SUP {  /* was .download-button .big */
    display: block;
    color: #004400;
    font-family: helvetica,sans-serif;
    font-size: 20px;
    line-height: 35px;
    
    top: inherit;
}
.download-button SUB {  /* was .download-button .small */
    display: block;
    color: #AAFFAA;
    font-family: helvetica,sans-serif;
    font-size: 12px;
    line-height: 12px;
    
    bottom: inherit;
}
.download-button:hover {
    background: -moz-linear-gradient(19% 75% 90deg, #99CF00, #6DB700) repeat scroll 0 0 transparent;
    background: -webkit-linear-gradient(19% 75% 90deg, #99CF00, #6DB700) repeat scroll 0 0 transparent;
    
    decoration: none;
}

p.inline, p.inline-code {
  display: inline-block;
  font-size: 1em;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  color: #333;
  white-space: nowrap;
}

p.inline-code {
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  color: #d14;
  padding: 2px 4px;
}

/* reflow-skin override */
/* unsure why it was putting these massive whitespace blocks before each of these elements */
h1[id]::before, h2[id]::before, h3[id]::before, h4[id]::before, h5[id]::before, h6[id]::before, a[name]::before {
	content: "";
    height: 0px;
    margin: 0;
}
/* set margin on the header elements themselves */
h1, h2, h3, h4, h5, h6 {
    margin: 20px 0;
}  
